<!-- <div class="text-sm breadcrumbs">
  <%##= Rails.application.routes.url_helpers %>
  <ul>
    <li><a>Home</a></li> 
    <li><a>Documents</a></li> 
    <li>Add Document</li>
  </ul>
</div>
-->
<nav class="text-sm breadcrumbs mb-5 mt-5">
  <ul class="">
    <% breadcrumbs.each do |crumb| %>
     <li>
      <% if crumb.link? %>
        <%= link_to crumb.name, crumb.url, class: "breadcrumb-link" %>
      <% else %>
        <span class="breadcrumb-page">
          <%= crumb.name %>
        </span>
      <% end %>
    
      <% unless crumb == breadcrumbs.last %>
        <span class="breadcrumb-separator"></span>
      <% end %>
     </li>
    <% end %>
  </ul>
  <hr class="my-3">
</nav>